.container {
    padding-top: 100px;
    background: beige;
    height: 100vh;
    display: flex;
}

.item {
    width: 100px;
    height: 100px;
    margin: 0px;
    border: 1px solid black;
}

.item1 {
    background: #f9e4f4;
    order: 3;
}

.item2 {
    background: #f0bae4;
    order: 2;
}

.item3 {
    background: #e58ad3;
    order: 1;
}