.container {
    padding-top: 100px;
    background: beige;
    height: 100vh;
    display: flex;
}

.item {
    width: 100px;
    height: 100px;
    margin: 0px;
    border: 1px solid black;
}

.item1 {
    background: #f9e4f4;
    flex-grow: 1;
}

.item2 {
    background: #f0bae4;
    flex-grow: 1;
}

.item3 {
    background: #e58ad3;
    flex-grow: 1;
    align-self: center;
}

.item4 {
    background: #e0f6fa;
    flex-grow: 1;
    flex-shrink: 2;
}

.item5 {
    background: #b2e8f2;
    flex-grow: 1;
}

.item6 {
    background: #80dae9;
    flex-grow: 1;

}